{{ include('pages/inc/header.html.twig') }}
    <div class="container">
        <h1>Create posts</h1>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    </div>
{{ include('pages/inc/footer.html.twig') }}