{{ include('pages/inc/header.html.twig') }}
    <div class="container">
        {% for message in app.session.flashbag.get('message') %}
            <div class="alert alert-dismissible alert-primary">{{ message }}</div>
        {% endfor %}
        <a href="{{ absolute_url(asset('')) }}app_dev.php/create" class="btn btn-primary btn-small">Create Post</a>
        <h1>View posts</h1>
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Title</th>
                    <th scope="col">Description</th>
                    <th scope="col">Category</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                {% for post in posts %}
                <tr>
                    <th>{{ post.id }}</th>
                    <td>{{ post.title }}</td>
                    <td>{{ post.description }}</td>
                    <td>{{ post.categoryId }}</td>
                    <td>
                        <a href="{{ absolute_url(asset('')) }}app_dev.php/view/{{ post.id }}" class="btn btn-primary btn-small">View</a>
                        <a href="{{ absolute_url(asset('')) }}app_dev.php/edit/{{ post.id }}" class="btn btn-primary btn-small">Edit</a>
                        <a href="{{ absolute_url(asset('')) }}app_dev.php/delete/{{ post.id }}" class="btn btn-danger btn-small">Delete</a>
                    </td>
                </tr>
                {% else %}
                <tr><td>No record found!</td></tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{{ include('pages/inc/footer.html.twig') }}